<!DOCTYPE html>
<html lang="{{ or site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">
<head>
  {{ partial "head.html" . }}
  {{ $noop := .WordCount }}
    {{ if .Page.Store.Get "hasMath" }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.21/dist/katex.min.css">
    {{ end }}
  {{ with resources.Get "css/custom.css" }}
    <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
</head>
<body class="site-wrapper">
  <header>
    {{ partial "header.html" . }}
  </header>
  <main class="site-main">
    {{ block "main" . }}{{ end }}
  </main>
  <footer class="site-footer">
    {{ partial "footer.html" . }}
  </footer>
  {{ partial "search.html" . }}
</body>
</html>
